@charset "UTF-8";

#shousai{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
     margin:auto;
     padding-top: 5%;
}

.kunoshousai{
     text-align:center;
}

.aratamu {
    text-align:center;
    padding-top: 25%;
}

.kesu {
    text-align:center;
    padding-top: 10%;
}